$background-light: #EEF2FD;
$background-white: #FFF;
$text-color: #252C31;
$text-color-secondary: #6D7277;
$principal-color: #163BB7;
$secondary-color: #D0D5EB;
$ternary-color: #0B1A51;
$green-color: #66C94B;
$yellow-color: #CEC394;
$light-blue-color: #80D2F6;

.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .contentLogin {
        background-color: $background-white;
        width: 40vw;
        height: fit-content;
        border-radius: 20px;
        padding: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}