.Credentials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .navBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 45vw;

    button {
      width: 50%;
      background-color: transparent;
      margin: 0;
      height: 45px;
      border: #f7f8fd;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-family: "Poppins";
      font-weight: 600;
      cursor: pointer;

      &.active {
        color: #163bb7;
        font-weight: bold;
        border-bottom: 2px solid #163bb7;
      }
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  width: 100vw;
  height: 100vh;
  color: #3a4374;
}

.modal-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 45vw;

  label {
    font-weight: bold;
  }

  .lastname-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  input {
    width: 90%;
  }

  select {
    height: 45px;
    border-radius: 5px;
    background-color: #f7f8fd;
    border: 1px solid #f7f8fd;
    margin: 0.3rem 0 1rem 0;
    padding-left: 1rem;

    &:active {
      border: 1px solid #163bb7;
    }

    option {
      padding: 1rem;
    }
  }

  input {
    height: 45px;
    border-radius: 5px;
    background-color: #f7f8fd;
    border: 1px solid #f7f8fd;
    margin: 0.3rem 0 1rem 0;
    padding-left: 1rem;
    text-transform: uppercase;

    &:active {
      border: 1px solid #163bb7;
    }
  }

  button {
    background-color: #163bb7;
    color: #f2f4fe;
    border-radius: 10px;
    border: 1px solid #163bb7;
    height: 44px;
    width: 150px;
    margin-left: auto;
    margin-right: 0;

    font-weight: bold;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      background-color: #06258b;
    }
  }
}
